.columns{
	margin: 10px;
	display: flex;
	width: 70%;
	flex-direction: column;
	padding: 1px;
	
	overflow: hidden;
}

.column{
	display: flex;
	text-align: top;
	justify-content: flex-start;
	margin-top: 10px;
	padding: 5px;
	outline: 1px solid #000;
}

.column:nth-child(even){
	background-color: NavajoWhite;
}

.column:nth-child(odd){
	background-color: Moccasin;
}

.column img{

	width: 150px;
	height: 200px;
	
}


